body {
    background-image: url('../../utils/photos/mainBack.png'); /* Update the path to your background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #fff; /* Adjust text color for better visibility */
}

h1 {
    text-align: center;
    color: #e2eaf2;
    margin-top: 20px;
    font-size: 36px;
}

.video-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent background for contrast */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.video-container h2 {
    font-size: 24px;
    color: #fdfdfd;
    margin-bottom: 10px;
}

video {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

a {
    display: block;
    text-align: center;
    margin: 20px auto;
    text-decoration: none;
    font-size: 18px;
    color: #007BFF;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: #0056b3;
}