body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #163823;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1d8e45;
    padding: 15px 20px;
    color: white;
    position: fixed;
    width: 98%;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 1em;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #f39c12;
}

main {
    margin-top: 60px; /* to avoid being hidden behind the topbar */
}

.stack-container {
    position: relative;
    width: 100%;
    height: 100vh;
    margin-top: 60px; /* to account for fixed header */
    overflow: hidden;
}

#imgBack {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.loginButton {
    position: absolute;
    top: 50%;
    left: 5%;
    color: white;
    background-color:  #478f5e;
    border: none;
    padding: 25px 40px;
    font-size: 30px;
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    transition: background-color 0.3s ease;
    border-width: 40px;
}

.loginButton:hover {
    background-color: #0056b3;
}
