body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color:#163823;
}

h1 {
    color:white;
    margin-bottom: 30px;
}

.courses-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.course-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 30%;
    box-sizing: border-box;
    transition: transform 0.2s ease;
}

.course-card:hover {
    transform: translateY(-5px);
}

.course-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

.course-info {
    font-size: 1em;
    color: #666;
}

.course-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}

